
Name: Suman Kumar Sahu

Objective:

Status:
###### Dataset: 'https://drive.google.com/drive/folders/0BzquUESTxeglWElscTF0Q19UTUU'

In [1]:
from pyspark import SparkContext

In [2]:
#ReduceBy Key and # CombineBy Key

In [7]:
path="/home/titan/dataset/dodgers/Dodgers.data"
gamesfile="/home/titan/dataset/dodgers/Dodgers.events"

In [6]:
traffic=sc.textFile(path)
traffic.take(4)

['4/10/2005 0:00,-1',
 '4/10/2005 0:05,-1',
 '4/10/2005 0:10,-1',
 '4/10/2005 0:15,-1']

In [8]:
games=sc.textFile(gamesfile)
games.take(4)

['04/12/05,13:10:00,16:23:00,55892,San Francisco,W 9-8�',
 '04/13/05,19:10:00,21:48:00,46514,San Francisco,W 4-1�',
 '04/15/05,19:40:00,21:48:00,51816,San Diego,W 4-0�',
 '04/16/05,19:10:00,21:52:00,54704,San Diego,W 8-3�']

In [15]:
from datetime import datetime
import csv


def parseTraffic(row):
    Date_FMT="%m/%d/%Y %H:%M"
    row=row.split(",")
    row[0]=datetime.strptime(row[0],DATE_FMT)
    row[1]=int(row[1])
    return (row[0],row[1])

In [17]:
trafficparsed= traffic.map(parseTraffic).collectAsMap

In [22]:
trafficparsed