Name: suman kumar sahu

Objective:Implement Random Forest Techniques and also apply ML Pipelines for further understanding

Data Source:

Status:

The entry point to programming Spark with the Dataset and DataFrame API. |
| A SparkSession can be used create :class:DataFrame, register :class:DataFrame as | tables, execute SQL over tables, cache tables, and read parquet files.

In [46]:
from pyspark.sql import SparkSession

sp=SparkSession\
.builder\
.appName('Predicting whether a person\'s income is more than 50 K')\
.getOrCreate()

rawData=spark.read\
.format('csv')\
.option('ignoreLeadingWhiteSpace','true')\
.load("/home/titan/dataset/ML_JRVI/adult.csv")

In [47]:
dataset=rawData.toDF('Age',
                    'WorkClass',
                    'FnlWgt',
                    'Education',
                    'EducationNum',
                    'MaritalStatus',
                    'Occupation',
                    'Relationship',
                    'Race',
                    'Gender',
                    'CapitalGain',
                    'CapitalLoss',
                    'HoursPerWeek',
                    'NativeCountry',
                    'Label')

In [48]:
 #note in spark fn capital letters in cmd and parenthesis after function
# done because dataset is small and hence is easy to visualize
dataset.toPandas().head()

,Age,WorkClass,FnlWgt,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [49]:
# help('modules')---This is restarting the kernel somehow

In [50]:
dataset=dataset.drop('FnlWgt')

In [51]:
dataset.count()

32561

In [52]:
dataset=dataset.replace('?',None)

In [53]:
dataset=dataset.dropna(how='any')
dataset.count()

30162

In [54]:
dataset.describe()

DataFrame[summary: string, Age: string, WorkClass: string, Education: string, EducationNum: string, MaritalStatus: string, Occupation: string, Relationship: string, Race: string, Gender: string, CapitalGain: string, CapitalLoss: string, HoursPerWeek: string, NativeCountry: string, Label: string]

In [55]:
dataset.toPandas().head()

,Age,WorkClass,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Label
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Some of the examples of type casting

 val df2 = df.withColumn("age",col("age").cast(StringType))

 val df3 = df2.selectExpr("cast(age as int) age",
     "cast(isGraduated as string) isGraduated",
     "cast(jobStartDate as string) jobStartDate")

In [56]:
from pyspark.sql.types import FloatType
from pyspark.sql.functions import col

# dataset=dataset.withColumn('Age',dataset.Age.cast("FloatType"))

dataset=dataset.withColumn('Age', col("Age").cast("double"))
# dataset=dataset.withColumn('Age',dataset['Age'].cast(FloatType()))
# dataset=dataset.withColumn('EducationNum',dataset['EducationNum'].cast(FloatType()))
# dataset=dataset.withColumn('CapitalGain',dataset['CapitalGain'].cast(FloatType()))
# dataset=dataset.withColumn('CapitalLoss',dataset['CapitalLoss'].cast(FloatType()))
# dataset=dataset.withColumn('HoursPerWeek',dataset['HoursPerWeek'].cast(FloatType()))

In [57]:
# dir("pyspark.sql")
# help("pyspark.sql.types.FloatType")

In [58]:
dataset.describe()

DataFrame[summary: string, Age: string, WorkClass: string, Education: string, EducationNum: string, MaritalStatus: string, Occupation: string, Relationship: string, Race: string, Gender: string, CapitalGain: string, CapitalLoss: string, HoursPerWeek: string, NativeCountry: string, Label: string]

In [59]:
from pyspark.ml.feature import StringIndexer

indexedDF=StringIndexer(
inputCol='WorkClass',
outputCol='WorkClass_index').fit(dataset).transform(dataset)

In [60]:
indexedDF.toPandas().head()

,Age,WorkClass,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Label,WorkClass_index
0,39.0,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,3.0
1,50.0,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,1.0
2,38.0,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0.0
3,53.0,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0.0
4,28.0,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0.0

 one-hot encoder that maps a column of category indices to a column of binary vectors, with
 |  at most a single one-value per row that indicates the input category index.
 |  For example with 5 categories, an input value of 2.0 would map to an output vector of
 |  `[0.0, 0.0, 1.0, 0.0]`.
 |  The last category is not included by default (configurable via :py:attr:`dropLast`),
 |  because it makes the vector entries sum up to one, and hence linearly dependent.
 |  So an input value of 4.0 maps to `[0.0, 0.0, 0.0, 0.0]`.
 |  
 |  .. note:: This is different from scikit-learn's OneHotEncoder, which keeps all categories.
 |      The output vectors are sparse.
 
 |

In [22]:
indexedDF=indexedDF.drop('WorkClass','FnlWgt').head()

In [35]:
from pyspark.ml.feature import OneHotEncoder

encodedDF=OneHotEncoder(
inputCol="WorkClass_index",
outputCol="WorkClass_encoded").transform(indexedDF)

AttributeError: 'OneHotEncoder' object has no attribute 'transform'

In [45]:
# help(OneHotEncoder)
# help(dataset.withColumn)

help(pyspark.ml.feature.StringIndexer)

NameError: name 'pyspark' is not defined

In [28]:
dataset['Age']._to_list()

TypeError: 'Column' object is not callable